<% provide(:title, "Modificar inventario") %>
<br>
<h1 align="center">Modificar inventarios</h1>
<br>
  <table style="width:90%">
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th>Tipo</th>
      <th>Disponibilidad</th>
      <th>Comentarios</th>
      <th>Modificar</th>
    </tr>
    <% @materiales.each do |s| %>
    <tr>
      <td class="center"><%= s.nombre %></td>
      <td class="center"><%= s.cantidad %></td>
      <td class="center"><%= s.tipo %></td>
      <% if s.disponible == true%>
      <td align="center" class="center" bgcolor="4D65E2">Sí</td>
      <% else %>
      <td align="center" class="center" bgcolor="FF5C60">No</td>
      <% end %>
      <td align="center" class="center"><%= s.comentario %></td>
    </tr>
    <% end %>
  </table>
