<h1>Cliente interno</h1>
<%= link_to 'Realizar nueva solicitd.', {controller: 'cliente_interno', :action => 'create'} %>
<%= link_to 'Ver solicitudes.', {controller: 'cliente_interno', :action =>  'show'} %>
