<% provide(:title, "Bienvenido" + " " + current_user.nombres) %>

<h1>Perfil Bodeguero</h1>

<%= link_to "Ver/modificar/aprobar solicitudes",  controller: "bodegueros", action: "mod_solicitudes" %><br>
<%= link_to "Ver/modificar inventario",  controller: "bodegueros", action: "mod_inventario" %><br>
<%= link_to "Aprobar solicitudes",  controller: "bodegueros", action: "aprobar_sol" %><br>
