<% if @solicitude.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      El formulario contiene <%= pluralize(@solicitude.errors.count, "error") %>.
    </div>
    <ul>
    <% @solicitude.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
