{% block content %}
	<h1>Crear Usuario</h1>
	<from action=""method="post">
		{{ form.hidden_tag()}}
		<p>
			{{ form.id_usuario.label }}<br>
			{{ form.id_usuario(size= 50) }}
		</p>
		<p>
			{{ form.nombres.label }}<br>
			{{ form.nombres(size=100) }}
		</p>
		<p>
			{{ form.apellidos.label }}<br>
			{{ form.apellidos(size = 100) }}
		</p>
		<p>
			{{ form.tipo.label }}<br>
			{{ form.tipo(size=10) }}
		</p>
		<p>
			{{ form.contrasena.label }}<br>
			{{ form.contrasena(size=100) }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}