{% extends "bootstrap/base.html"%}
{% block content %}
<html lang="es">
  <body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nombre_usuario.label }}<br>
            {{ form.nombre_usuario(size=32) }}
        </p>
        <p>
            {{ form.contrasena.label }}<br>
            {{ form.contrasena(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    </body>
{% endblock %}
