<% provide(:title, "Bienvenido" + " " + current_user.nombres + " " + current_user.apellidos) %>
<h1 align="center">Encargado Compras</h1>

<%= link_to "Crear orden de compra",  controller: "ordenes", action: "create" %><br>
<%= link_to "Enviar cotización",  controller: "cotizaciones", action: "create" %>
